* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 2px green solid !important; */
}

.container-game {
  height: 100vh;
  width: 100vw;
  background-color: #9c835f;
  overflow-x: hidden !important;
}

/* CLASS JOKER */
.icon-hover:hover > img {
  animation: iconResult 1s linear infinite;
}

.content-hover:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}

.player-choose {
  background-color: #c4c4c4 !important;
  animation: iconResult 1s linear infinite;
}
/* END CLASS JOKER */

/* KEYFARMES */
@keyframes iconResult {
  0% {
    transform: rotate(10deg);
  }

  15% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(10deg);
  }

  45% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  80% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/* END KEYFARMES */

.header a {
  text-decoration: none;
  color: #724c21;
}

.header a:hover {
  color: #633a0e;
}

.header strong {
  color: #f9b23d;
  font-size: 36px;
  font-family: "Open Sans";
}

/* QUERY RESPONSIV */
@media screen and (max-width: 653px) {
  .header strong {
    font-size: 15px;
  }
}

/* CONTENT GAME */
.content-game .content {
  width: 223px;
  height: 204px;
  border-radius: 30px;
}

.content-game img {
  width: 115px;
  height: 150px;
}

.content-game .batu {
  width: 128px;
  height: 92px;
}

.content-game .vs {
  color: #bd0000;
  font-weight: 700;
  font-size: 144px;
  letter-spacing: 0.1em;
}

.content-game .result {
  color: white;
  font-weight: 700;
  background-color: #4c9654;
  font-size: 38px;
  border-radius: 10px;
  transform: rotate(-28.87deg);
  text-align: center;
  letter-spacing: 0.1em;
}
/* END CONTENT GAME */

/* REFRESH */
.refresh {
  background-color: transparent;
  border: none;
  left: 48%;
  bottom: 8%;
}

.refresh:hover > img {
  transform: rotate(-90deg);
  width: 82px;
  height: 77px;
}

.refresh img {
  width: 77px;
  height: 72px;
  transition: 0.5s;
}
/* END REFRESH */

/* QUERY RESPONSIV */
@media screen and (max-width: 653px) {
  /* CONTENT */
  .content-game h3 {
    font-size: 13px !important;
  }
  .content-game .content {
    width: 123px;
    height: 100px;
    margin-left: -22px !important;
  }

  .content-game img {
    width: 70px;
    height: 80px;
  }

  .content-game .batu {
    width: 80px;
    height: 60px;
  }

  .content-game .vs {
    font-size: 50px;
  }

  .content-game .result {
    width: 80px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
  }
  /* END CONTENT */

  /* REFRESH */

  .refresh {
    left: 45%;
    bottom: 2%;
  }

  .refresh img {
    width: 32px;
    height: 29px;
  }

  /* END REFRESH */
}

@media screen and (max-width: 465px) {
  .content-game {
    padding-left: 13px !important;
  }

  .icon-hover:hover > img {
    animation: none !important;
  }

  .content-hover:hover {
    background-color: transparent !important;
    cursor: pointer;
  }
}

@media screen and (max-width: 654px) {
  .refresh:hover > img {
    width: 35px;
    height: 32px;
  }
}

@media screen and (max-width: 768px) and (min-width: 654px) {
  /* CONTENT */

  .content-game .vs {
    font-size: 50px;
  }

  .content-game .result {
    width: 120px;
    height: 90px;
    line-height: 90px;
    font-size: 18px;
  }
  /* END CONTENT */

  /* REFRESH */

  .refresh {
    left: 48%;
  }

  .refresh img {
    width: 32px;
    height: 29px;
  }

  .refresh:hover > img {
    width: 35px;
    height: 32px;
  }

  /* END REFRESH */
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  /* REFRESH */

  .refresh {
    left: 48%;
  }

  .refresh img {
    width: 52px;
    height: 50px;
  }

  .refresh:hover > img {
    width: 56px;
    height: 54px;
  }

  /* END REFRESH */
}

@media screen and (max-width: 1251px) and (min-width: 768px) {
  .content-game .vs {
    font-size: 50px;
  }

  .content-game .result {
    width: 180px;
    height: 140px;
    font-size: 22px;
    line-height: 140px;
  }
}
/* END QUERY RESPONSIV */
