.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animate-rocket {
  0% {
    transform: scale(1) rotate(-110deg);
  }
  5% {
    transform: scale(1.25) rotate(-95deg);
  }
  10% {
    transform: scale(1.5) rotate(-105deg);
  }
  20% {
    transform: scale(1.75) rotate(-100deg);
  }
  100% {
    transform: scale(20) translateY(-100vh) translateX(-100vw);
  }
}

@keyframes shake {
  0%,
  100% {
    translate: 0;
  }
  25% {
    translate: 8px 0;
  }
  75% {
    translate: -8px 0;
  }
}

/* CUSTOM */

.input-animation {
  border: 1px solid #fe4567;
  animation: shake 0.14s 3;
}

.input-animation:valid {
  border-color: #45feaf;
  animation: none;
}

.animate-rocket {
  -webkit-animation: animate-rocket 5s forwards;
  animation: animate-rocket 5s forwards;
}

.bounce-custom {
  animation: App-logo-bounce 1000ms ease-in 1;
}

.text-shadow-custom:hover {
  text-shadow: 3px 2px 0px white !important;
}

.parent-text {
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1) !important;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes leftToRight {
  0% {
    transform: translate(-200px);
  }
  100% {
    transform: translate(800px);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translate(200px);
  }
  100% {
    transform: translate(-800px);
  }
}
/* @keyframes leftToRight2 {
  0% {
    transform: translate(-900px);
  }
  100% {
    transform: translate(0px);
  }
} */

.skills {
  animation: leftToRight 20s linear infinite !important;
}
.skills-reverse {
  animation: rightToLeft 20s linear infinite !important;
}

.hover-shadow:hover {
  box-shadow: 7px 11px 2px -2px rgba(0, 0, 0, 0.7);
}

.parent-text span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.parent-text span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.parent-text span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  20% {
    transform: scaleY(1);
  }
  35% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(3);
  }
  65% {
    transform: scaleY(2);
  }
  80% {
    transform: scaleY(1);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scaleY(1);
  }
}

.scrool-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrool-bar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.scrool-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
